@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
            Alo Bilgi hatti
        </p>
        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>
            Cart Curt Mah bilmem ne sokak
        </p>
        <i class="fa-solid fa-square-envelope text-primary my-3"></i>
        <p>
            cartcurt@mail.com
        </p>
    </div>
</div>
<h1>Contact</h1>